.footer {
    padding: 0.7rem 0;
    background-color: #000000;
    flex: 0 0 auto;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
    display: inline-flex;
}


.social span,
.list li {
    margin: 0.5rem 1rem;
}

.social span:hover,
.list li:hover {
    color: #1db954;
}

.link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.link:hover {
    color: #ff7882;
}

.icon {
    width: 30px;
    height: 25px;
}

.email,
.github {
    display: inline-block;
    width: 30px;
    height: 25px;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(38deg) brightness(103%) contrast(101%);
    transition: filter 0.2s ease-in;
}

.email {
    background: url(../../res/email.svg) no-repeat;
}

.email:hover,
.github:hover {
    filter: invert(55%) sepia(63%) saturate(537%) hue-rotate(308deg) brightness(100%) contrast(107%);
}

.github {
    background: url(../../res/github.svg) no-repeat;
}