.footer {
    padding: 0.7rem 0;
    background-color: #000000;
    flex: 0 0 auto;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.list {
    list-style: none;
    display: inline-flex;
}


.social span,
.list li {
    margin: 0.5rem 1rem;
}

.social span:hover,
.list li:hover {
    color: #1db954;
}