* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /*background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);*/
    background: #f5f2f9;
}

.container {
    /*background-color: #f2f2f3;*/
    width: 100%;
    flex: 1 0 auto;
}

.content {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 2rem auto;
    padding: 1rem 2rem;
}

.loader {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fdce25;
    border-color: #fdce25 transparent #fdce25 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}