.header {
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    background-color: #de6b48;
}

.container {
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffb400;
    text-decoration: none;
    font-size: 20px;
}

.list {
    list-style: none;
    display: inline-flex;
}

.route {
    padding: 0.5rem;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: #212529;
    opacity: 0.6;
    transition: opacity 0.3s ease-in;
}

.link:hover {
    opacity: 1;
}